@using JobBoards.WebApplication.ViewModels.Management
@model ManageJobLocationsViewModel

<style>
    form label {
        font-weight: bold;
    }

    .form-group {
        margin-bottom: 2rem;
    }

    .form-container {
        max-width: 600px;
        margin: 0 auto;
        padding: 2rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f5f5f5;
    }

    .form-container h2 {
        text-align: center;
        margin-bottom: 2rem;
        font-size: 2rem;
        text-shadow: 1px 1px #ccc;
    }

    .form-control {
        border-radius: 3px;
        box-shadow: none;
        border: none;
        border-bottom: 2px solid #ccc;
    }

    .form-control:focus {
        box-shadow: none;
        border-color: #428bca;
    }
</style>

<div class="form-container">
    <h2 class="text-primary">Create Job Location</h2>
    <form asp-action="CreateJobLocation" method="post">
        <div class="form-group">
            <label for="city">City</label>
            @* <input type="text" id="city" name="City" class="form-control" placeholder="Enter a city"> *@
            <input type="text" class="form-control" asp-for="JobLocationsForm.City" placeholder="Enter a city">
            <span asp-validation-for="JobLocationsForm.City" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="country">Country</label>
            <input type="text" asp-for="JobLocationsForm.Country" class="form-control" placeholder="Enter a country">
            <span asp-validation-for="JobLocationsForm.City" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Create</button>
            <a class="btn btn-secondary" asp-controller="Management" asp-action="JobLocations">Cancel</a>
        </div>
    </form>
</div>

