<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - JobBoards.WebApplication</title>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
  <script src="https://unpkg.com/feather-icons"></script>
</head>

<body>
  <header>
    <partial name="_NavigationPartial" />
  </header>

  <div class="container">
    <main role="main" class="pb-3">
      @RenderBody()
    </main>
    <div id="notification"></div>
  </div>

  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>

  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="~/lib/tinymce/tinymce.min.js"></script>

  <script src="~/js/site.js" asp-append-version="true"></script>

  <script>
    feather.replace()
  </script>

  <script>
    function showToast(title, message, type) {
      $.ajax({
        type: "GET",
        url: "@Url.Action("DisplayToast", "Globals")" +
          `?title=${title}&message=${message}&type=${type}`,
        success: function (partialView) {
          // Add the toast to the div container.
          $("#notification").html(partialView);

          // Get the toast element and create a bootstrap toast instance
          const jobBoardsToast = document.getElementById('jobboards-toast')
          const toast = bootstrap.Toast.getOrCreateInstance(jobBoardsToast)

          // Show the toast
          toast.show();
        }
      });
    }
  </script>

  @if (ViewData["ShowToast"] != null)
  {
    <script>
      $(function () {
        const toast = @(Html.Raw(Json.Serialize(ViewData["ShowToast"])));
        showToast(toast.title, toast.message, toast.type);
      });
    </script>
  }

  @await RenderSectionAsync("Scripts", required: false)
  @await RenderSectionAsync("Modals", required: false)
</body>

</html>