<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-cyan-600 p-3 border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PJLI Connex</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" ww id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Jobs" asp-action="Index">Job Listing</a>
                </li>
                @if (User.IsInRole("Admin") || User.IsInRole("Employer"))
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Management
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-controller="Management" asp-action="Dashboard">Dashboard</a>
                            </li>
                            <li><a class="dropdown-item" asp-controller="Management" asp-action="JobApplications">Job
                                    Applications</a></li>

                            @if (User.IsInRole("Admin"))
                            {
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" asp-controller="Management" asp-action="JobCategories">Job
                                        Categories</a>
                                </li>
                                <li><a class="dropdown-item" asp-controller="Management" asp-action="JobLocations">Job
                                        Locations</a>
                                </li>
                            }
                        </ul>
                    </li>
                }
            </ul>
            <partial name="_LoginPartial" />
        </div>
    </div>
</nav>