

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
            <h1 class="text-center mb-4">Log In</h1>
            <form asp-action="Register" method="post" class="needs-validation" novalidate>
                <div class="card mb-3">
                    <div class="card-header">
                        Log In to Continue
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label for="inputFullName" class="form-label">Email</label>
                            <input type="text" class="form-control" id="inputFullName" name="FullName" placeholder="Email" required>
                            <div class="invalid-feedback">Please enter your email.</div>
                        </div>
                        <label for="Email" class="form-label">Password</label>
                        <input type="email" class="form-control" id="Email" name="Email" placeholder="Password" required>
                        <div class="invalid-feedback">Please enter your password.</div>
                            <div class="text-center mt-3">
                                <span>Forgot Password?</span>
                                <a href="/Account/Login" class="font-medium text-indigo-600 hover:text-indigo-500">Click here</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary bg-cyan-600">Log In</button>

                   
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        // Enable client-side validation
        (function () {
            'use strict';
            var forms = document.querySelectorAll('.needs-validation');
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    });
                });
        })();
    </script>
}