<div class="container mt-5" style="width: 400px;">
    <form asp-action="Register" method="post">
        <div class="card p-4 text-center">
            <p class="text-black fs-3">Sign In</p>
            <p class="text-secondary mt-n3">Please login to continue</p>
            <input type="text" class="form-control" name="Email" placeholder="Email" required>
            <input type="password" class="form-control mt-3" name="Password" placeholder="Password" required>
            <div class="w-100 text-end mt-2">
                <a href="#">Forgot Password?</a>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Login</button>
            <div class="d-flex justify-content-center" style="margin-top: 3rem;">
                <span>Don't have an account?</span>
                <a class="ms-2" asp-controller="Account" asp-action="Register">Register</a>
            </div>
        </div>
    </form>
</div>

@section Scripts {

}