@model Views_Account_Register

<div class="container mt-5" style="width: 400px;">
    <form asp-action="Register" method="post">
        <div class="card p-4 text-start">
            <p class="text-secondary fs-3">Register</p>
            <p class="mt-n3 text-secondary">Please fill out the form</p>
            <input type="text" class="form-control" name="FullName" placeholder="Full Name" required>
            <input type="email" class="form-control mt-3" name="Email" placeholder="Email" required>
            <input type="password" class="form-control mt-3" name="Password" placeholder="Password" required>
            <input type="password" class="form-control mt-3" name="Password" placeholder="Confirm Password" required>
            <button type="submit" class="btn btn-primary mt-3">Submit</button>
            <div class="d-flex justify-content-center" style="margin-top: 3rem;">
                <span>Already have an account?</span>
                <a class="ms-2" asp-controller="Account" asp-action="Login">Sign In</a>
            </div>
        </div>
    </form>
</div>

@section Scripts {

}
