@{
    ViewData["Title"] = "Job Details";
}

<div class="container my-5">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-primary">Software Engineer</h2>
                    <h4 class="card-subtitle text-muted mb-4">Full-time, PHP 60,000 - PHP 75,000</h4>
                    <p class="card-text">
                        We are looking for a highly skilled and experienced Software Engineer to join our team. In this
                        role, you will be responsible for designing, developing, and maintaining software applications
                        that meet the needs of our clients. You will work closely with other members of the development
                        team to ensure that our applications are robust, scalable, and efficient.
                    </p>
                    <p class="card-text">
                        <strong>Responsibilities:</strong>
                    <ul>
                        <li>Design and develop software applications</li>
                        <li>Write clean, efficient, and well-documented code</li>
                        <li>Collaborate with cross-functional teams to define, design, and ship new features</li>
                        <li>Identify and troubleshoot software defects and issues</li>
                    </ul>
                    </p>
                    <p class="card-text">
                        <strong>Requirements:</strong>
                    <ul>
                        <li>Bachelor's degree in Computer Science or related field</li>
                        <li>At least 3 years of experience in software development</li>
                        <li>Proficient in PHP, JavaScript, and other web technologies</li>
                        <li>Experience with SQL and database design</li>
                        <li>Strong problem-solving skills</li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">Job Details</h6>
                    <div class="row mt-3">
                        <h6 class="col-4 d-inline">Job Type:</h6>
                        <div class="col-8">
                            Full-time
                        </div>
                    </div>
                    <div class="row mt-2">
                        <h6 class="col-4 d-inline">Salary:</h6>
                        <div class="col-8">
                            PHP 60,000 - PHP 75,000
                        </div>
                    </div>
                    <div class="row mt-2">
                        <h6 class="col-4 d-inline">Location:</h6>
                        <div class="col-8">
                            Metro Manila
                        </div>
                    </div>
                    <div class="row mt-2">
                        <h6 class="col-4 d-inline">Posted:</h6>
                        <div class="col-8">
                            03/31/2023 - 5:50 PM
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mt-2">
                <div class="card-body">
                    <h6 class="card-title">Applications</h6>
                    <div class="row mt-3">
                        <h6 class="col-4 d-inline"># of Job Applicants:</h6>
                        <div class="col-8">
                            21
                        </div>
                    </div>
                    <a asp-controller="Jobs" asp-action="ManageJobApplications"
                        class="btn btn-secondary btn-block w-100 mt-3">Manage Applications</a>
                </div>
            </div>
            <div class="card mt-2">
                <div class="card-body">
                    <h6 class="card-title">My Application</h6>
                    <div class="row mt-3">
                        <h6 class="col-4 d-inline">Status:</h6>
                        <div class="col-8 text-info">
                            Viewed
                        </div>
                    </div>
                    <div class="row mt-3">
                        <h6 class="col-4 d-inline">Resume:</h6>
                        <div class="col-8 text-info">
                            my-resume.pdf
                        </div>
                    </div>
                    <div class="row mt-3">
                        <h6 class="col-4 d-inline">Applied</h6>
                        <div class="col-8">
                            04/02/2023 - 3:23 PM
                        </div>
                    </div>
                    <a href="#" class="btn btn-danger btn-block w-100 mt-3">Withdraw</a>
                </div>
            </div>
            <a asp-controller="Jobs" asp-action="Index" class="btn btn-secondary btn-block w-100 mt-2">Back to List</a>
            <a href="#" class="btn btn-primary btn-block w-100 mt-2">Apply Now</a>
            <a href="#" class="btn btn-secondary btn-block w-100 mt-1">Deactivate Job Post</a>
            <a asp-controller="Jobs" asp-action="Update" class="btn btn-primary btn-block w-100 mt-1">Edit</a>
            <a href="#" class="btn btn-danger btn-block w-100 mt-1">Delete</a>
        </div>
    </div>
</div>
