<div class="container">
    <div class="my-5">
        <h1 class="text-primary text-center">
            Business Analyst


        </h1>
        <h2 class="text-center">Full-time Position - PHP 60,000 - PHP 70,000 - Makati City, Philippines</h2>
        <h3 class="text-center">Manage Applications</h3>

    </div>
    <div class="mt-md-5">
        <div class="row">
            <div class="col-12">
                <form class="d-flex">
                    <input type="text" class="form-control">
                    <button class="ms-2 btn btn-outline-primary w-25" type="button">Search</button>
                </form>
                <span class="text-black-50">Search for Applicant's name</span>
            </div>
            </div>
            <div>Showing 2 out 21 Applicants</div>



        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 mb-4">
                    <a
                       class="btn text-start rounded p-4 bg-white border border-gray-300 d-flex flex-column justify-content-between">
                        <div class="w-100 row align-items-center">
                            <h3 class="col-12 col-md-6">
                                John Doe
                            </h3>
                           <h4>Resume:</h4>
                        </div>
                        <p>
                            Applied:
                        </p>
                        <div>
                            <button type="submit" class="btn btn-link mt-3">Interview</button>
                            <button type="submit" class="btn btn-link mt-3">Shortlist</button>
                            <button type="submit" class="btn btn-link mt-3">Not Suitable</button>

                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 mb-4">
                <a class="btn text-start rounded p-4 bg-white border border-gray-300 d-flex flex-column justify-content-between">
                    <div class="w-100 row align-items-center">
                        <h3 class="col-12 col-md-6">
                            John Doe
                        </h3>
                        <h4>Resume:</h4>
                    </div>
                    <p>
                        Applied:
                    </p>
                    <div>
                        <button type="submit" class="btn btn-link mt-3">Interview</button>
                        <button type="submit" class="btn btn-link mt-3">Shortlist</button>
                        <button type="submit" class="btn btn-link mt-3">Not Suitable</button>

                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
