<div class="container">
    <div class="my-5">
        <h1 class="text-primary text-center" style="font-size: 48px;">Business Analyst</h1>
        <p class="text-center text-black-50 fs-3" style="margin-top: -0.5rem;">Full-time Position - PHP 60,000 - PHP
            70,000 - Makati City,
            Philippines
        </p>
    </div>
    <div class="d-flex flex-column align-items-center justify-content-center h-100 w-100">
        <h2 class="text-cyan-600 text-left align-top">
            Job Applicants
        </h2>

        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 mb-4">
                    <form class="d-flex">
                        <input type="text" class="form-control">
                        <button class="ms-2 btn btn-outline-primary w-25" type="button">Search</button>
                    </form>
                    <span class="text-black-50">Search for Applicant's Name</span>
                </div>
                <div class="col-12 col-md-8 d-flex flex-row justify-content-between align-items-center">
                    <span class="text-black-50" style="font-size: 12px;">Showing 2 of 10
                        Applicants</span>
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                        <label class="btn btn-outline-primary" for="btnradio1">All</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio2">Interview</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio3">Shorlist</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio4">Not Suitable</label>
                    </div>
                </div>
                <div class="col-12 col-md-8 mb-4 mt-3">
                    <div
                        class="text-start rounded p-4 bg-white border border-gray-300 d-flex flex-column justify-content-between">
                        <div class="w-100 row">
                            <h3 class="col-12">
                                John Doe
                            </h3>
                        </div>
                        <div class="row">
                            <span class="col-2" style="font-weight: 500;">Resume:</span>
                            <div class="col-10 text-info">
                                my-resume.pdf
                            </div>
                        </div>
                        <div class="row mt-2">
                            <span class="col-2" style="font-weight: 500;">Applied:</span>
                            <div class="col-10">
                                04/02/2023 - 3:23 PM
                            </div>
                        </div>
                        <div class="d-flex mt-3 p-0">
                            <button type="submit" class="btn p-0 m-0 me-4">INTERVIEW</button>
                            <button type="submit" class="btn p-0 m-0 me-4">SHORTLIST</button>
                            <button type="submit" class="btn p-0 m-0 text-danger">NOT SUITABLE</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-8 mb-4">
                    <div
                        class="text-start rounded p-4 bg-white border border-gray-300 d-flex flex-column justify-content-between">
                        <div class="w-100 row">
                            <h3 class="col-12">
                                Isaac Newton
                            </h3>
                        </div>
                        <div class="row">
                            <span class="col-2" style="font-weight: 500;">Resume:</span>
                            <div class="col-10 text-info">
                                my-resume.pdf
                            </div>
                        </div>
                        <div class="row mt-2">
                            <span class="col-2" style="font-weight: 500;">Applied:</span>
                            <div class="col-10">
                                04/02/2023 - 3:23 PM
                            </div>
                        </div>
                        <div class="d-flex mt-3 p-0">
                            <button type="submit" class="btn p-0 m-0 me-4">INTERVIEW</button>
                            <button type="submit" class="btn p-0 m-0 me-4">SHORTLIST</button>
                            <button type="submit" class="btn p-0 m-0 text-danger">NOT SUITABLE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
