<div
    class="d-flex flex-column align-items-center justify-content-center grow p-5 space-y-5 h-100 w-100 position-relative">
    <div class="h-25 w-10 position-relative"></div>
    <h2 class="text-cyan-600 text-left align-top">
        My Job Applications
    </h2>

    <div>Showing 2 out 10 jobs</div>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 mb-4">
                <a asp-controller="Jobs" asp-action="Details"
                    class="btn text-start rounded p-4 bg-white border border-gray-300 d-flex flex-column justify-content-between">
                    <div class="w-100 row align-items-center">
                        <h3 class="col-12 col-md-6">
                            Business Analyst
                        </h3>
                        <span class="col-12 col-md-6 text-black-50 text-start text-md-end"
                            style="font-size: small;">Full-time, PHP
                            60,000 -
                            PHP
                            75-000</span>
                    </div>
                    <p>
                        Paranaque City
                    </p>
                    <p class="text-success">Application viewed by employer</p>
                    <div>
                        <button type="submit" class="btn btn-secondary mt-3">View Application</button>
                        <button type="submit" class="btn btn-danger mt-3">Withdraw</button>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

