@using JobBoards.WebApplication.ViewModels.Shared
@model ChangeApplicationStatusModalViewModel

<style>
    .text-darkgray {
        color: #54595E
    }

    .text-paragraph {
        color: #68717A
    }
</style>

<div class="modal fade" id="confirmUpdateStatusModal" tabindex="-1" aria-labelledby="confirmUpdateStatusModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body p-4">
                <div class="d-flex justify-content-between">
                    <h4 class="modal-title text-darkgray" id="confirmUpdateStatusModalLabel">Update Status</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <p class="mt-2 text-paragraph">
                    Are you sure you want to set <span class="fw-bold">@Model.ApplicantName</span>'s job application
                    status to <span class="text-info">@Model.NewStatus</span>?
                </p>

                <div class="d-flex mt-4">
                    <a asp-controller="Jobs" asp-action="UpdateJobApplicationStatus"
                        asp-route-jobApplicationId="@Model.JobApplicationId" asp-route-newStatus="@Model.NewStatus"
                        class="btn btn-primary me-3">
                        Yes, update status
                    </a>

                    <button type="button" class="btn" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
