@using JobBoards.WebApplication.ViewModels.Shared
@model DeleteJobPostModalViewModel

<style>
    .text-darkgray {
        color: #54595E
    }

    .text-paragraph {
        color: #68717A
    }
</style>

<div class="modal fade" id="confirmDeleteJobPostModal" tabindex="-1" aria-labelledby="deleteJobPostModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body p-4">
                <div class="d-flex justify-content-between">
                    <h4 class="modal-title text-darkgray" id="deleteJobPostModalLabel">Delete Job Post</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <p class="mt-2 text-paragraph">
                    Are you sure you want to delete <span class="text-info">@Model.JobPost.Title</span>?
                </p>

                <div class="d-flex flex-column">
                    @if (Model.NumberOfPendingJobApplications > 0)
                    {
                        <span class="text-danger mb-2">* There are @Model.NumberOfPendingJobApplications pending job
                            applications
                            for
                            this job post.</span>
                    }
                    <span class="text-danger">* This action cannot be undone.</span>
                </div>

                <div class="d-flex mt-4">
                    <form asp-controller="Jobs" asp-action="Delete" method="post">
                        <input type="hidden" name="id" value="@Model.JobPostId" readonly />
                        <button type="submit" class="btn btn-danger me-3">Yes, I understand</button>
                    </form>

                    <button type="button" class="btn" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
