@using JobBoards.WebApplication.ViewModels.Shared
@model WithdrawApplicationModalViewModel

<style>
    .text-darkgray {
        color: #54595E
    }

    .text-paragraph {
        color: #68717A
    }
</style>

<div class="modal fade" id="confirmWithdrawApplicationModal" tabindex="-1" aria-labelledby="confirmWithdrawModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body p-4">
                <div class="d-flex justify-content-between">
                    <h4 class="modal-title text-darkgray" id="confirmWithdrawModalLabel">Withdraw Application</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <p class="mt-2 text-paragraph">
                    Are you sure you want to withdraw your application on <span
                        class="text-info">@Model.JobPostTitle</span>?
                </p>

                <div class="d-flex mt-4">
                    <a asp-controller="Jobseekers" asp-action="WithdrawApplication"
                        asp-route-applicationId="@Model.ApplicationId" asp-route-jobseekerId="@Model.JobSeekerId"
                        class="btn btn-danger me-3">
                        Yes, please withdraw
                    </a>

                    <button type="button" class="btn" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
